<div class="w3-example">
  <div style="padding: 0px" class="clearfix">
    <div id="avatar" style="padding: 0px, margin:0px, float: left"></div>
    <div class="UFICommentContentBlock">
      <div>
        <h4><%= @question.account_name %></h4>
      </div>
      <div><%= answer.content %></div>
    </div>
  </div>
</div>
