<div class="row section-item">
  <!-- <div class="w3-example">
    <div style="padding: 0px" class="clearfix">
      <div id="avatar" style="padding: 0px, margin:0px, float: left"></div>
      <div class="UFICommentContentBlock">
        <div>
          <h4><%= @question.account_name %></h4>
        </div>
        <div><%= answer.content %></div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h5>Comment</h5>
      <% if current_account != nil %>
      <% @commentable = answer%>
      <%= render "form", comment: @comment%>
      <% end %>

      <% @comments = answer.comments.hash_tree(limit_depth: 5) %>
      <%= comments_tree_for @comments %>
    </div>
    <button class="toggle_comments">Toggle between hide() and show()</button>
  </div> -->
  
</div>
