<div class="col-md-9">
  <div class="section-body padding-arround">
    <p class="bold"><%= @question.title %></h2>
    <p><%= raw @question.content %></p>
  </div>
  <div class="section-body padding-arround">
    <%= render partial: "answer", collection: @answers, as: :answer %>
  </div>
  <div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar"></div>
</div>
