<% (@lawyer_article).each do |article| %>
    <div class="card no-border no-border-radius mb-0">
        <div class="card-block post-feed-item d-flex">
            <figure class="post-author-avatar padding-left">
                <%= image_tag @account.account_avatar_url, size: "60x60", class: "" %>
            </figure>        
            <div class="ml-05 full-width padding-left">
                <div class="post-header">
                    <div class="post-meta d-flex align-items-center flex-wrap">
                    	<a class="mr-05 nuxt-link-exact-active active "><%=  @lawyer_profile.account_name %></a>
                        <div class="text-muted padding-left">
                        	<span><%= article.created_at %></span>
                        </div>
                    </div>
                    <div class="post-title-box d-flex align-items-center">
                        <h4>
                        	<div class="post-title-header word-break">
                        	<%=link_to article.title, article_path(article) %>
                        	</div>             
                    	</h4>
                	</div>
                   
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <div class="post-stats">
                            <span class="stats-item mr-05" aria-describedby="tippy-tooltip-115" data-original-title="Views"><i aria-hidden="true" class="fa fa-eye"></i> 7</span>
                            <span class="stats-item mx-05" aria-describedby="tippy-tooltip-116" data-original-title="Clips"><i aria-hidden="true" class="fa fa-paperclip"></i> 0</span>
                            <span class="stats-item mx-05" aria-describedby="tippy-tooltip-117" data-original-title="Comments"><i aria-hidden="true" class="fa fa-comments"></i> 0</span>
                        </div>                    
                    </div>
                <div class="points" aria-describedby="tippy-tooltip-118" data-original-title="Score"></div>
            	</div>
        		</div>
    		</div>
    	</div>
    </div>
<%end%>
