<div class="cover_image">
  <img src="https://dn07ar7mppjqz.cloudfront.net/uploads/image/picture/2641/eyecatch_00227_______________________________________.jpg" height="150px" class="image_cover">
</div>
