<div class="row">
  <div class="footer">
    <div class="col-md-4 col-md-offset-1">
      <div class="foot-intro">
        <p>© 2017 TOP LAWYER Co., Ltd. All Rights Reserved.</p>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="foot-intro">
        <p class="small_font">"TopLawyer" is a platform for making laws more accessible and easier. [Law Firm / Lawyer Search] allows a person who wants to consult a law to find law firms and lawyers at prefectures and nearest stations. You can also search from detailed requests such as divorce, inheritance, wanting to ask someone with abundant achievements in specific fields such as traffic accidents and debt consolidation, want to consult on Saturdays and Sundays. Pictures, attorney fees (fee schedules), handling examples, etc. are also posted on the profile screen, and you can find attorneys that you can trust legal troubles with confidence. Also, open type [lawyer Q & A] who can consult with a lawyer for free, [lawyer column] the lawyers themselves send information, and Legalus Editorial department delivers useful information at their own angle [law column] Through the contents, we spread the momentum of legal use and set up a better world as a mission.</p>
      </div>
    </div>
  </div>
</div>
