<div class="row">
  <div class="footer">
    <div class="col-md-4 col-md-offset-1">
      <div class="foot-intro">
        <p>© 2020 TOP LAWYER Co., Ltd. All Rights Reserved.</p>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="foot-intro">
        <p class="small_font">
          Mọi ý kiếm góp ý xin gửi về: TopLawyervn@gmail.com
        </p>
        <p class="small_font">
          To feedback, please email us: TopLawyervn@gmail.com
        </p>
      </div>
    </div>
  </div>
</div>
