<div class="">
  <form class="navbar-form navbar-left" action="<%= search_root_path %>">
    <div class="input-group" id="search_form" style="width: 250px;">
      <input type="text" class="form-control typeahead top_search_bar" placeholder=" <%= I18n.t "top_pages.search" %> " name="q" size="50">
    </div>
  </form>
</div>
