<div class="col-md-9">
  <div class="section-title al-center">
    <h4><%= t ".noti" %></h4>
  </div>
  <div class="section-body padding-arround">
    <div id="notifies">
      <%= render @notifies %>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
