<div class="col-md-9">
  <h3><%= t ".edit_question" %></h3>
  <%= form_for [:user, @question] do |f| %>  
    <%= render "form", f: f %>
    <div class="form-group">
      <%= f.submit t(".submit"), class: "form-control btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="col-md-3"></div>
