<p id="notice"><%= notice %></p>

<h1>Question</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |q| %>
      <tr>
        <td><%= q.title %></td>
        <td><%= q.content %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>
