<div class="col-md-9">
  <%= form_for [:user, :register_lawyer, @lawyer_profile] do |f| %>
    <%= render "shared/lawyer_profiles/form", f: f %>

    <div class="form-group"> 
      <%= f.submit t(".submit"), class: "form-control btn btn-primary" %>
    </div>
  <% end %>
</div>
