<div class="category_container">
  <div class="category_box">
    <table style="border: none">
      <tr>
        <td rowspan="2">
          <%= link_to law_firm_path(law_firm) do %>
            <%= image_tag law_firm.lf_avatar_url, size: "50x50", class: "mg-5" %>
          <% end %>
        </td>
        <td>
          <%= link_to law_firm_path(law_firm) do %>
            <span> <%= law_firm.name %></span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
