.mgt-90 {
  margin-top: 90px !important;
}

.index-article-title {
  font-size: 12px;
}

.index-article-body {
  font-size: 14px;
}

.row .article-index {
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  min-height: 180px;
  .account-info {
    padding: 10px 10px 10px 10px;
    border: 1px solid grey;
    background-color: #ffe6cc;
    min-height: 180px;
  }
}

.grid {
  margin: 0px !important;
  .nav__item {
    display: inline-block !important;
    margin: 0px !important;
    padding: 0px 5px 0px 5px !important;
  }

  li :hover {
    background-color: white !important;
  }
}

.related_articles {
  padding: 5px 0px 5px 0px;
  height: 130;
  .title-part {
    p {
      text-decoration: none !important;
      color: black !important;
    }
    height: 70px;
    overflow: hidden;
  }
  .body-part {
    height: auto;
    overflow: hidden;
    p, span {
      font-size: 14px;
    }
  }
}

.list_tag_show {
  .list-inline-item {
    border: 1px solid #1aa3ff;
    background-color: #1aa3ff;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: inline-block;
  }
  .content_tag {
    color: black;
    margin-right: 5px;
    max-width: 180px;
    overflow: hidden;
    display: inline-block;
  }
}

.stat_item {
  margin-right: 5px;
}

.well {
  border: none !important;
  background-color: aliceblue !important;
}
