$main-green: #52bab3;

body {
  font-size: 12px;
  font-family: sans-serif;
}

div {
  display: block;
}

.cover_image {
  height: 200px;
}

.footer {
  margin-top: 20px;
  height: 200px;
  background-color: #80d4ff;
}

.bold {
  font-weight: bold;
}

.pd-10 {
  padding: 10px 10px 10px 10px;
}

.no_margin {
  margin: 0px;
}

.margin-tb-10 {
  margin: 10px 0px 10px 0px;
}

.al-center {
  text-align: center;
}

.padding-arround {
  padding: 15px;
}

#top-navi {
  margin-top: 0px;
  background-color: $main-green;
  border-color: $main-green;
  .item {
    color: black;
  }
}


.section-title {
  min-height: 40px; width: 100%;
  background-color: $main-green;
  color: black;
  margin: 0px;
  border: 2px solid $main-green;
}

.section-body {
  width: 100%;
  background-color: white;
  color: black;
  margin: 0px; margin-bottom: 10px;
  border: 2px solid $main-green;
}

.row .section-item {
  margin: 10px 10px 10px 10px;
  border-bottom: 1px solid grey;
}

.sub-section-title {
  border-bottom: 2px solid #52bab3;
  margin: 0px !important ;
}

.sub-section-title-both {
  border-bottom: 2px solid #52bab3;
  border-top: 2px solid #52bab3;
  margin: 0px !important ;
}
