.cover_image {
  height: 200px;
  background-color: #80d4ff
}

.footer {
  height: 200px;
  background-color: #80d4ff;
}

.pd-10 {
  padding: 10px 10px 10px 10px;
}

#top-navi {
  margin-top: 0px;
  background-color: #52bab3;
  border-color: #52bab3;
  .item {
    color: dimgrey;
  }
}
