<div class="col-md-9">
  <div class="section-title al-center">
    <h4><%= @category.name %></h4>
  </div>
  <div class="section-body padding-arround">

  </div>
</div>
<div class="col-md-3 pd-10">
</div>
