<div class="col-md-9">
  <div class="section-title al-center">
    <h4><%= t ".cliped_article" %></h4>
  </div>
  <div class="section-body padding-arround">
    <%= render partial: "shared/articles/article", collection: @articles, as: :article %>
    <div class="row al-center"><%= paginate @articles %></div>
  </div>
</div>
<div class="col-md-3">
  <%= render "shared/users/user_statistic", account: current_account %>
</div>
