<!DOCTYPE html>
<html>
  <%= render "layouts/shared/header" %>
  <body>
    <div class="row">
      <div class="col-md-3 pd-10">
        <%= render "layouts/admins/navigator" %>
      </div>
      <div class="col-md-9 pd-10">
        <%= render "layouts/shared/flash" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
